body{
    place-items: center;
    justify-content: center;
    background-color: white;
    text-align: center;
}

#sec{
    place-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    text-align: center;
    transform: translateY(150px);
    width: 500px;
    

}